//
//   olog.example.go
//   olog
//
//   Copyright 2020 Daher Alfawares
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License
//   You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2
//
//   Unless required by applicable law or agreed to in writing,
//   distributed under the License is distributed on an "AS IS" BASIS
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied
//   See the License for the specific language governing permissions
//   limitations under the License

package main

import "github.com/da0x/golang/olog"

type Data struct {
	Name  string
	Age   int
	Score float32
}

func main() {
	var data = []Data{
		Data{Name: "John Smith", Age: 30, Score: 100.0},
		Data{Name: "Jane Smith", Age: 30, Score: 100.0},
	}
	olog.Print(data)         // same as PrintWithStyle(data, olog.Normal)
	olog.PrintClear(data)    // same as PrintWithStyle(data, olog.Clear)
	olog.PrintMarkdown(data) // same as PrintWithStyle(data, olog.Markdown)
	olog.PrintStrong(data)   // same as PrintWithStyle(data, olog.Strong)
	olog.PrintVStrong(data)  // same as PrintWithStyle(data, olog.VStrong)
	olog.PrintHStrong(data)  // same as PrintWithStyle(data, olog.HStrong)
}
